* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0 0 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Helvetica', sans-serif;
    overflow-x: hidden;
    min-width: 1200px;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title h1 {
    font-size: 80px;
    letter-spacing: 2.45px;
}

.hero-title {
    top: 85px;
}

.hero-title:nth-child(2) {
    top: 165px;
}

.hero-description {
    display: inline-block;
    margin: 300px 50px 0 100px;
}

.hero-description p {
    text-transform: uppercase;
    display: inline-block;
    font-style: italic;
    width: 570px;
    font-size: 31px;
    line-height: 52px;
    letter-spacing: 0.5px;
}

.hero-description p:first-child {
    padding-top: 60px;
}

.hero-description p:nth-child(2),
.hero-description p:nth-child(3) {
    padding-top: 90px;
    vertical-align: top;
    white-space: nowrap;
    animation: rotate 10s linear infinite;
}

.hero-description p:nth-child(3) {
    animation: rotate 13s linear infinite;
}

.hero-description p:nth-child(2) i img {
    display: inline;
}

.hero-description p:nth-child(2) span,
.hero-description p:nth-child(3) span {
    padding: 0 13px 0 26px;
    font-size: 25px;
}

.description {
    margin-top: -100px;
    margin-left: 100px;
    margin-bottom: 80px;
    max-width: 600px;
    line-height: 1.6;
}

.register-container {
    display: block;
    margin: 0 100px 130px 100px;
}

.register-container img {
    float: right;
    width: 430px;
}

.register-container a {
    display: block;
    text-align: right;
    position: relative;
    transform: translateX(170px);
    font-size: 80px;
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.register-container a:first-of-type {
    padding-top: 11px;
}
.poop {
    position: relative;
}

.poop:before {
    position: absolute;
    content: "";
    background-image: url('../shittyimages/poop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 35px;
    width: 22px;
    left: -10px;
    padding-top: 18px;
}

.poops {
    transform: translateX(-120px);
    cursor: no-drop;
    position: relative;
    z-index: -99;
}

.single {
    transform: translateX(-100px);
    transform: translateY(-80px);
}

.poops img {
    padding-bottom: 28px;
    display: block;
}

.poops img:last-child {
    padding-bottom: 0;
}

.marquee {
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 20s linear infinite;
}

.marquee div {
  display: block;
  position: absolute;
  overflow: hidden;
  animation: marquee 20s linear infinite;
}

.marquee h1 {
    font-size: 80px;
    white-space: nowrap;
    float: left;
    width: 50%;
    letter-spacing: 1px;
}

.marquee div:hover {
    cursor: progress;
    animation-play-state: paused;
}

.graphic-container img,
.graphic-container-2 img,
.graphic-container-3 img,
.graphic-container-4 img {
    margin: 0 auto;
    display: block;
    position: absolute;
}

.graphic-container-2 img {
    right: -310px;
    top: 1461px;
}

.graphic-container-3 {
    transform: translateX(-200px);
}

.graphic-container-4 img {
    transform: translateX(700px);
}

footer .graphic-container-3 {
    transform: translateY(-200px);
}

.schedule-container h1 {
    font-size: 80px;
    font-style: italic;
    transform: translateX(-10px);
}

.schedule-container ul {
    padding-left: 200px;
    font-weight: 200;
    font-style: italic;
    cursor: help;
}

.schedule-container li {
    list-style: none;
    font-size: 30px;
    padding-left: 90px;
    list-style-position: inside;
    letter-spacing: 0.5px;
    font-size: 25px;
}

.schedule-container li.date {
    list-style: none;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-right: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #fff;
}

li.date:hover,
.register-container a:hover,
.conduct p a:hover,
.conduct-link:hover {
    background: -moz-linear-gradient( 90deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0.8) 7%, rgba(255,0,0,0.9) 10%, rgb(255,0,0) 11%, rgb(255,0,0) 12%, rgb(255,252,0) 28%, rgb(1,180,57) 45%, rgb(1,207,156) 54%, rgb(0,234,255) 60%, rgb(0,119,200) 65%, rgb(0,3,144) 75%, rgb(128,2,171) 83%, rgb(255,0,198) 88%, rgba(255,0,198,0.9) 89%, rgba(255,0,198,0.8) 93%, rgb(255,0,198) 100%);
    background: -webkit-linear-gradient( 90deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0.8) 7%, rgba(255,0,0,0.9) 10%, rgb(255,0,0) 11%, rgb(255,0,0) 12%, rgb(255,252,0) 28%, rgb(1,180,57) 45%, rgb(1,207,156) 54%, rgb(0,234,255) 60%, rgb(0,119,200) 65%, rgb(0,3,144) 75%, rgb(128,2,171) 83%, rgb(255,0,198) 88%, rgba(255,0,198,0.9) 89%, rgba(255,0,198,0.8) 93%, rgb(255,0,198) 100%);
    background: -ms-linear-gradient( 90deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0.8) 7%, rgba(255,0,0,0.9) 10%, rgb(255,0,0) 11%, rgb(255,0,0) 12%, rgb(255,252,0) 28%, rgb(1,180,57) 45%, rgb(1,207,156) 54%, rgb(0,234,255) 60%, rgb(0,119,200) 65%, rgb(0,3,144) 75%, rgb(128,2,171) 83%, rgb(255,0,198) 88%, rgba(255,0,198,0.9) 89%, rgba(255,0,198,0.8) 93%, rgb(255,0,198) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rainbow {
    font-weight: 600;
    color: #000;
}

.date {
    text-decoration: underline;
}

.conduct-link {
    font-size: 30px;
    white-space: nowrap;
}

.schedule-container u {
    text-decoration: none;
    font-weight: 500;
    padding-right: 20px;
    min-width: 70px;
    min-width: 150px;
    display: inline-block;
    text-align: right;
}

.schedule-container span {
    max-width: 620px;
    font-size: 16px;
    font-weight: 400;
    transform: translateX(-50px);
    margin-bottom: 30px;
    display: block;
    line-height: 2;
    background-color: #fff;
}

.schedule-container a {
    color: black;
}

.sponsors-container {
    margin-top: 180px;
    margin-left: 200px;
}

.sponsors-container h1 {
    text-transform: uppercase;
    display: inline-block;
    font-style: italic;
    width: 600px;
    font-size: 31px;
    line-height: 52px;
    letter-spacing: 0.5px;
}

.sponsors-container ul {
    margin: 50px 150px;
    font-size: 25px;
    font-weight: 300;
    position: relative;
    z-index: 99;
}

.sponsors-container ul li {
    margin: 20px 0;
}

.sponsors-container ul li a {
    color: #000;
}

.rs-logo {
    vertical-align: middle;
    width: 438px;
}

.es-logo {
    vertical-align: middle;
    width: 250px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.marquee-sponsors {
    margin-top: 70px;
}

.founded-gif {
    height: 250px;
    position: relative;
    display: inline;
}

footer {
    margin-top: 150px;
}

footer ul {
    list-style: none;
    margin-right: 90px;
    text-align: right;
    margin-bottom: 100px;
}

footer li {
    margin: 30px 0;
}

footer a {
    color: #000;
}

.conduct {
    margin-left: 50px;
}

.conduct p {
    text-align: left;
    max-width: 1100px;
    font-weight: 200;
    line-height: 1.7;
    margin-bottom: 100px;
    max-width: 680px;
}

.conduct p a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.conduct h1 {
    margin: 50px 0;
}

.conduct .graphic-container-3 {
    transform: translateY(-50px);
}

/* 2016 Hack Day Page */
.project {
    margin-top: 70px;
}

.project a span {
    color: #FFF;
    font-weight: 500;
    font-style: italic;
    background-color: #000;
    padding: 8px 16px;
    position: relative;
    left: 250px;
    bottom: 210px;
    max-width: 500px;
    display: inline-block;
    line-height: 27px;
    z-index: 1;
}

.project a span:nth-child(2n) {
    left: -10px;
    bottom: 170px;
    background-color: #FFF;
    color: #000;
    border: 2px solid;
    font-weight: 600;
    z-index: 1;
}

.project a span:nth-child(2n) u {
    font-style: normal;
    text-decoration: none !important;
}

.no-cursor {
    cursor: default;
}

.project-image {
    left: -260px;
    position: relative;
}

/* Animations */
@keyframes marquee {
    0%      { left: 0; }
    100%    { left: -100%;}
}
@-moz-keyframes marquee {
    0%      { left: 0; }
    100%    { left: -100%;}
}
@-webkit-keyframes marquee {
    0%      { left: 0; }
    100%    { left: -100%;}
}

@keyframes rotate {
    100%    { transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    100%    { transform: rotate(360deg);}
}

@-webkit-keyframes rotate {
    100%    { transform: rotate(360deg);}
}
