* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0 0 0;
}

body {
    font-family: 'Helvetica Neue', Times;
    overflow-x: hidden;
}

.hero-title h1 {
    font-size: 80px;
    letter-spacing: 2.45px;
}

.hero-title {
    top: 85px;
}

.hero-title:nth-child(2) {
    top: 165px;
}

.hero-description {
    display: inline-block;
    margin: 400px 50px 0 100px;
}

.hero-description p {
    text-transform: uppercase;
    display: inline-block;
    font-style: italic;
    width: 600px;
    font-size: 31px;
    line-height: 52px;
    letter-spacing: 0.5px;
}

.hero-description p:first-child {
    padding-top: 60px;
}

.hero-description p:nth-child(2),
.hero-description p:nth-child(3) {
    padding-top: 160px;
    vertical-align: top;
    white-space: nowrap;
    animation: rotate 10s linear infinite;
}

.hero-description p:nth-child(3) {
    animation: rotate 13s linear infinite;
}

.hero-description p:nth-child(2) i img {
    display: inline;
}

.hero-description p:nth-child(2) span,
.hero-description p:nth-child(3) span {
    padding: 0 13px 0 26px;
    font-size: 25px;
}

.register-container {
    display: block;
    margin: 0 100px 130px 100px;
}

.register-container img {
    float: right;
    width: 550px;
}

.register-container a {
    display: block;
    text-align: right;
    position: relative;
    transform: translateX(170px);
    font-size: 80px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.register-container a:first-of-type {
    padding-top: 11px;
}
.poop {
    position: relative;
}

.poop:before {
    position: absolute;
    content: "";
    background-image: url('../shittyimages/poop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 35px;
    width: 22px;
    left: -10px;
    padding-top: 18px;
}

.poops {
    cursor: no-drop;
    position: relative;
    z-index: -99;
    margin-left: -810px;
}

.poops img {
    padding-bottom: 28px;
    display: block;
}

.poops img:last-child {
    padding-bottom: 0;
}

.marquee {
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 20s linear infinite;
}

.marquee div {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: marquee 20s linear infinite;
}

.marquee h1 {
    font-size: 80px;
    white-space: nowrap;
    float: left;
    width: 50%;
    letter-spacing: 1px;
}

.marquee div:hover {
    cursor: progress;
    animation-play-state: paused;
}

.graphic-container img {
    margin: 0 auto;
    display: block;
}

.schedule-container {
    transform: translateY(-50px);
}

.schedule-container h1 {
    font-size: 80px;
    font-style: italic;
    transform: translateX(-10px);
}

.schedule-container ul {
    padding-left: 200px;
    font-weight: 200;
    font-style: italic;
    cursor: help;
}

.schedule-container li {
    font-size: 30px;
    padding-left: 90px;
    list-style-position: inside;
    letter-spacing: 0.5px;
    font-size: 25px;
}

.schedule-container li.date {
    list-style: none;
    font-weight: 600; 
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 60px 0 20px 0;
}

.schedule-container u {
    text-decoration: none;
    font-weight: 500;
    padding-right: 20px;
    min-width: 70px;
    min-width: 150px;
    display: inline-block;
    text-align: right;
}

.code-of-conduct-container {
    margin: 0 50px 0 50px;
}

.code-of-conduct-container p,h2 {
    margin-top: 15px;
}

@keyframes marquee {
    0%      { left: 0; }
    100%    { left: -100%;}
}
@-moz-keyframes marquee {
    0%      { left: 0; }
    100%    { left: -100%;}
}
@-webkit-keyframes marquee {
    0%      { left: 0; }
    100%    { left: -100%;}
}


@keyframes rotate {
    100%    { transform: rotate(360deg);}
}
