* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0 0 0;
}

body {
    font-family: 'Helvetica Neue', Times;
    overflow-x: hidden;
}

.hero-title h1 {
    font-size: 80px;
    letter-spacing: 2.45px;
}

.hero-title {
    top: 145px;
}

.hero-title:nth-child(2) {
    top: 225px;
}

.hero-description {
    display: inline-block;
    margin: 400px 100px;
}

.hero-description p {
    text-transform: uppercase;
    display: inline-block;
    font-style: italic;
    width: 600px;
    font-size: 31px;
    line-height: 52px;
    letter-spacing: 0.5px;
}

.hero-description p:first-child {
    padding-top: 40px;
}

.hero-description p:nth-child(2) {
    vertical-align: top;
    animation: rotate 10s linear infinite;
}

.hero-description p:nth-child(2) i img {
    display: inline;
}

.poop {
    background-image: url('shittyimages/poop.svg');
    height: 10px;
    width: 10px;
}

.poops {
    cursor: no-drop;
    position: relative;
    z-index: -99;
    margin-left: -810px;
}

.poops img {
    padding-bottom: 28px;
    display: block;
}

.poops img:last-child {
    padding-bottom: 0;
}

.marquee {
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 20s linear infinite;
}

.marquee div {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: marquee 20s linear infinite;
}

.marquee h1 {
    font-size: 80px;
    white-space: nowrap;
    float: left;
    width: 50%;
    letter-spacing: 1px;
}

.marquee div:hover {
    cursor: progress;
    animation-play-state: paused;
}

@keyframes marquee {
    0%      { left: 0; }
    100%    { left: -100%;}
}
@-moz-keyframes marquee {
    0%      { left: 0; }
    100%    { left: -100%;}
}
@-webkit-keyframes marquee {
    0%      { left: 0; }
    100%    { left: -100%;}
}


@keyframes rotate {
    100%    { transform: rotate(360deg);}
}
